@{
    ViewData["Title"] = "Home";
}
<section class="py-5 text-center bg-light" id="hero">
    <div class="container">
        <h1 class="display-4 animate__animated animate__fadeIn">Prathamesh Thorat</h1>
        <p class="lead animate__animated animate__fadeIn animate__delay-1s">
            Software Developer | Sangamner, IN | <a href="mailto:prathameshthorat.fc@gmail.com">prathameshthorat.fc@gmail.com</a>
        </p>
        <p class="animate__animated animate__fadeIn animate__delay-2s">
            Passionate about building innovative solutions with .NET, Java, and React.js.
        </p>
        <a href="@Url.Action("DownloadResume", "Home")" class="btn btn-primary btn-lg mt-3 animate__animated animate__bounceIn animate__delay-3s">
            <i class="bi bi-download me-2"></i>Download Resume
        </a>
    </div>
</section>